.cursor{
    cursor: pointer;
    color: white;
    padding: 10px;
    
}

.text-decorator-none{
    text-decoration: none;
}

.Toolbar{
    background-color: black;
    justify-content: "center";
}

.bgcolor{
    background-color: #003918 !important;
}