.grids{
    background-color: #000000;
    height: 120px !important;
}

.boxs{
    background-color: #000000;
    height: 60px !important;
    
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
   text-decoration: none !important;
}