.caixa{
    background-color: #161625bd;
}

.titulo{
   color: rgb(0, 0, 0) !important;
   font-weight: bold !important;
}

.botao{
    border-color: rgb(0, 0, 0) !important;
    background-color: #000000;
    color: rgb(255, 255, 255) !important;
}

.postagens{
    background-color: rgb(255, 255, 255);
}